.navbar-burger span {
    color: white;
    height: 2px;
    width: 20px;
}

#logo {
    width: 70%;
}

#confetti-canvas {
    display: block;
    z-index: 999999;
    pointer-events: none;
    position: absolute;
}

.confetti {
    position: absolute;
    z-index: 9999;
}

.confetti-item {
    width: 10px;
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
}